---
import config from "@/config/config.json";
import { withBasePath } from "@/lib/utils/pathPrefix";
import dateFormat from "@/lib/utils/dateFormat";
import { plainify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date } = data.data;
---

<div class="bg-body dark:bg-darkmode-body">
  {
    image && (
      <ImageMod
        class="mb-6 w-full rounded"
        src={image}
        alt={title}
        width={1600}
        height={900}
        fit="cover"
        format="webp"
      />
    )
  }
  <h4 class="mb-3">
    <a href={withBasePath(`/${blog_folder}/${data.id}`)}>
      {title}
    </a>
  </h4>
  <ul class="mb-4">
    {date && <li class="inline-block">{dateFormat(date)}</li>}
  </ul>
  <p class="mb-6">{plainify(data.body?.slice(0, Number(summary_length)))}</p>
  <a class="btn btn-outline-primary btn-sm" href={withBasePath(`/${blog_folder}/${data.id}`)}>
    View edition
  </a>
</div>
