---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { render } from "astro:content";

const contactIndex = await getListPage("contact", "-index");
const { title, description, meta_title, image } = contactIndex.data;
const { Content } = await render(contactIndex);

if (contactIndex.data.draft) {
  return Astro.redirect("/404");
}
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="mx-auto md:col-10 lg:col-7">
          <div class="content mb-10">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
